.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 95%;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  cursor: pointer;

}
.main-container {
  display: flex;

}

.left {
  text-align: center;
  padding: 6px 16px;
  color: #969A9E ;
}

.star{
    margin:auto ;
    justify-content: center;
    padding: 15px;
}
.img{
    cursor: pointer;
}
.title {
  color: #505254 ;

 }

.right{
  padding: 10px;
  flex : auto ; 
  text-align: end;
  color: #505254 ;
}